<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>ADOTEMAIS</title>

    <!-- CSS FILES -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-icons.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">

</head>

<body></body>

<body id="section_1">

    </div>

    </div>
    </div>
    </header>

    <nav class="navbar navbar-expand-lg bg-light shadow-lg">
        <div class="container">
            <a class="navbar-brand" href="/index">
                <img src="{{ url_for('static', filename='images/logo.png') }}" class="logo img-fluid" alt="Kind Heart Charity">
                <span>
                    ADOTE +
                    <small>Amor sem limites: adote, salve uma vida.</small>
                </span>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="#top">Tela inicial</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="#section_2">Sobre Nós</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="#section_3">Adote</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="#section_4">Contato</a>
                    </li>

                    <li class="nav-item ms-3">
                        <a class="nav-link custom-btn custom-border-btn btn" href="/login">Entrar</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main>

        <section class="hero-section hero-section-full-height">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-lg-12 col-12 p-0">
                        <div id="hero-slide" class="carousel carousel-fade slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="{{ url_for('static', filename='images/slide/slide1.jpg') }}" class="carousel-image img-fluid" alt="...">

                                    <div class="carousel-caption d-flex flex-column justify-content-end">
                                        <h1>Adote Amor!</h1>

                                        <p>Encontre seu amigo peludo hoje!</p>
                                    </div>
                                </div>

                                <div class="carousel-item">
                                    <img src="{{ url_for('static', filename='images/slide/slide2.jpg') }}" class="carousel-image img-fluid" alt="...">

                                    <div class="carousel-caption d-flex flex-column justify-content-end">
                                        <h1>Faça a Diferença</h1>

                                        <p>Adote e transforme vidas!</p>
                                    </div>
                                </div>

                                <div class="carousel-item">
                                    <img src="{{ url_for('static', filename='images/slide/slide3.jpg') }}" class="carousel-image img-fluid" alt="...">

                                    <div class="carousel-caption d-flex flex-column justify-content-end">
                                        <h1>Descubra o Amor</h1>

                                        <p>Adote agora e faça a diferença!</p>
                                    </div>
                                </div>
                            </div>

                            <button class="carousel-control-prev" type="button" data-bs-target="#hero-slide"
                                data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>

                            <button class="carousel-control-next" type="button" data-bs-target="#hero-slide"
                                data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </section>


        <section class="section-padding">
            <div class="container">
                <div class="row">

                    <div class="col-lg-10 col-12 text-center mx-auto">
                        <h2 class="mb-5">Por que adotar?</h2>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                        <div class="featured-block d-flex justify-content-center align-items-center">
                            <a href="donate.html" class="d-block">
                                <img src="{{ url_for('static', filename='images/icons/hands.png') }}" class="featured-block-image img-fluid" alt="">

                                <p class="featured-block-text">Ao adotar um animal, você está dando a ele uma
                                    <strong>segunda chance</strong> e salvando-o do abandono ou da eutanásia.
                                </p>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0 mb-md-4">
                        <div class="featured-block d-flex justify-content-center align-items-center">
                            <a href="donate.html" class="d-block">
                                <img src="{{ url_for('static', filename='images/icons/heart.png') }}" class="featured-block-image img-fluid" alt="">

                                <p class="featured-block-text">Adotar um animal <strong>promove a compaixão e a
                                        bondade</strong>, mostrando aos outros o valor de cuidar e proteger os seres
                                    vivos.</p>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0 mb-md-4">
                        <div class="featured-block d-flex justify-content-center align-items-center">
                            <a href="donate.html" class="d-block">
                                <img src="{{ url_for('static', filename='images/icons/receive.png') }}" class="featured-block-image img-fluid" alt="">

                                <p class="featured-block-text">Animais adotados muitas vezes têm uma <strong>profunda
                                        gratidão</strong> por seus novos lares, tornando-se companheiros leais e
                                    amorosos para toda a vida. Donation</p>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                        <div class="featured-block d-flex justify-content-center align-items-center">
                            <a href="donate.html" class="d-block">
                                <img src="{{ url_for('static', filename='images/icons/scholarship.png') }}" class="featured-block-image img-fluid" alt="">

                                <p class="featured-block-text">Ao adotar em vez de comprar um animal, <strong>você está
                                        ajudando a reduzir o superpovoamento em abrigos</strong> e a interromper o ciclo
                                    de reprodução descontrolada</p>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </section>


        <section class="section-padding" id="section_3">
            <section class="about-section section-padding">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-md-5 col-12">
                            <img src="{{ url_for('static', filename='images/sobrenos.jpg') }}" class="about-image ms-lg-auto bg-light shadow-lg img-fluid"
                                alt="">
                        </div>

                        <div class="col-lg-5 col-md-7 col-12">
                            <div class="custom-text-block">
                                <h2 class="mb-0">Sobre nós</h2>


                                <p>Somos um grupo de estudantes do ensino médio técnico, cursamos Desenvolvimento de
                                    Sistemas. </p>

                                <p>Acreditamos que a tecnologia pode ser uma ferramenta poderosa para promover a adoção
                                    responsável de animais, e foi com essa missão em mente que criamos este site.</p>

                                <p>A adoção é uma experiência gratificante que pode transformar a vida de um animal e de
                                    sua família. Junte-se a nós nesta missão e ajude a construir um futuro melhor para
                                    os animais!</p>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <section class="cta-section section-padding section-bg">
                <div class="container">
                    <div class="row justify-content-center align-items-center">

                        <div class="col-lg-5 col-12 ms-auto">
                            <h2 class="mb-0">Faça sua parte. </h2>
                        </div>

                        <div class="col-lg-5 col-12">
                            <a href="#" class="me-4">Divulgar</a>

                            <a href="#section_4" class="custom-btn btn smoothscroll">Adotar</a>
                        </div>

                    </div>
                </div>
            </section>


            <section class="section-padding" id="section_3" style="padding-bottom: 0px;">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-12 col-12 text-center mb-4">
                            <h2>
                                Animais à espera de um lar</h2>
                        </div>

                        <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                            <div class="custom-block-wrap">
                                <img src="{{ url_for('static', filename='images/animais/animal1.jpg') }}" class="custom-block-image img-fluid" alt="">

                                <div class="custom-block">
                                    <div class="custom-block-body">
                                        <h5 class="mb-3">Cachorro</h5>

                                        <p>Um rabo abanando, um olhar cheio de amor: a espera por um lar!</p>



                                        <div class="d-flex align-items-center my-2">
                                            <p class="mb-0">

                                            </p>

                                            <p class="ms-auto mb-0">

                                            </p>
                                        </div>
                                    </div>

                                    <a href="donate.html" class="custom-btn btn">Adotar</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                            <div class="custom-block-wrap">
                                <img src="{{ url_for('static', filename='images/animais/animal2.jpg') }}" class="custom-block-image img-fluid" alt="">

                                <div class="custom-block">
                                    <div class="custom-block-body">
                                        <h5 class="mb-3">Gato</h5>

                                        <p>Patinhas macias, coração enorme: transforme a vida de um gatinho!</p>



                                        <div class="d-flex align-items-center my-2">
                                            <p class="mb-0">

                                            </p>

                                            <p class="ms-auto mb-0">

                                            </p>
                                        </div>
                                    </div>

                                    <a href="donate.html" class="custom-btn btn">Adotar</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="custom-block-wrap">
                                <img src="{{ url_for('static', filename='images/animais/animal3.jpg') }}" class="custom-block-image img-fluid" alt="">

                                <div class="custom-block">
                                    <div class="custom-block-body">
                                        <h5 class="mb-3">Hamster</h5>

                                        <p>Rodinhas girando, corações batendo: a aventura da adoção te espera!</p>



                                        <div class="d-flex align-items-center my-2">
                                            <p class="mb-0">

                                            </p>

                                            <p class="ms-auto mb-0">

                                            </p>
                                        </div>
                                    </div>

                                    <a href="donate.html" class="custom-btn btn">Adotar</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>




            <section class="testimonial-section section-padding section-bg">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-8 col-12 mx-auto">
                            <h2 class="mb-lg-3">Abra seu coração e lar para um amor incondicional</h2>

                            <div id="testimonial-carousel" class="carousel carousel-fade slide" data-bs-ride="carousel">

                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <div class="carousel-caption">
                                            <h4 class="carousel-title">A adoção é a chance de transformar a vida de um
                                                animal e a sua também!</h4>


                                        </div>
                                    </div>

                                    <div class="carousel-item">
                                        <div class="carousel-caption">
                                            <h4 class="carousel-title">A adoção é um ato de heroísmo que salva vidas e
                                                muda o mundo para melhor.</h4>


                                        </div>
                                    </div>

                                    <div class="carousel-item">
                                        <div class="carousel-caption">
                                            <h4 class="carousel-title">Dê um lar para um animal e receba em troca amor,
                                                lealdade e alegria sem fim.</h4>


                                        </div>
                                    </div>

                                    <div class="carousel-item">
                                        <div class="carousel-caption">
                                            <h4 class="carousel-title">O amor de um animal adotado é puro, verdadeiro e
                                                incondicional.</h4>


                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>



            <footer class="site-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-12 mb-4">
                            <img src="{{ url_for('static', filename='images/logo.png') }}" class="logo img-fluid" alt="">
                        </div>

                        <div class="col-lg-4 col-md-6 col-12 mb-4">
                            <h5 class="site-footer-title mb-3">Links Rápidos</h5>

                            <ul class="footer-menu">
                                <li class="footer-menu-item"><a href="#" class="footer-menu-link" ur>Seja um Voluntário
                                    </a></li>

                                <li class="footer-menu-item"><a href="#" class="footer-menu-link">Seja Nosso Parceiro
                                    </a></li>
                            </ul>
                        </div>

                        <div class="col-lg-4 col-md-6 col-12 mx-auto">
                            <h5 class="site-footer-title mb-3">Contato</h5>

                            <p class="text-white d-flex mb-2">
                                <i class="bi-telephone me-2"></i>

                                <a href="tel: 120-240-9600" class="site-footer-link">
                                    000-000-0000
                                </a>
                            </p>

                            <p class="text-white d-flex">
                                <i class="bi-envelope me-2"></i>

                                <a href="mailto:info@yourgmail.com" class="site-footer-link">
                                    adotemais@gmail.com
                        </div>
                    </div>
                    <!-- JAVASCRIPT FILES -->
                    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
                    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
                    <script src="{{ url_for('static', filename='js/jquery.sticky.js') }}"></script>
                    <script src="{{ url_for('static', filename='js/click-scroll.js') }}"></script>
                    <script src="{{ url_for('static', filename='js/counter.js') }}"></script>
                    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>

</body>

</html>